language: python
os: linux
dist: xenial

stages:
- test
- name: deploy27
- name: deploy36
  
install: skip
script:
- python -c "import sys; print('Python verion ={}, sys.platform={}, is 64bit? = {}'.format(sys.version_info.major,
  sys.platform, (sys.maxsize > 2**32)))"
- chmod ugo+x ./deploy_dir.sh
# - cd $(bash deploy_dir.sh)
# - cp ../setup.py .
# - cp ../py2.py3-none-any .
# - ls -l

jobs:
  include:
  - python: 2.7

  - stage: deploy27
    python: 2.7
    script:
    - echo $TRAVIS_BUILD_DIR
    - cd $TRAVIS_BUILD_DIR
    - cd mapy_dependencies_py27
    - pwd
    - cp ../setup.py .
    - cp -r ../py2.py3-none-any .
    - ls -l
    deploy:
      provider: pypi
      on:
        branch: master
      username: asmith_mapaction
      distributions: "sdist"
      skip_existing: true
      cleanup: false

  - stage: deploy36
    python: 3.6
    script:
    - echo $TRAVIS_BUILD_DIR
    - cd $TRAVIS_BUILD_DIR
    - cd mapy_dependencies_py36
    - pwd
    - cp ../setup.py .
    - cp -r ../py2.py3-none-any .
    - ls -l
    deploy:
      provider: pypi
      on:
        branch: master
      username: asmith_mapaction
      distributions: "sdist"
      skip_existing: true
      cleanup: false
